<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">


    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/authentication/form-1.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/forms/switches.css">
    <link href="~/Content/Site.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Content/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Content/assets/js/authentication/form-1.js"></script>

    @*-----------------scripts propios---------------*@

    <script src="~/Scripts/Login.js"></script>
    @*-----------------fin scripts propios---------------*@
</body>
</html>
