
@{ var userId = TempData["UserId"] as int?; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Empty Page | CORK - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="~/content2/src/assets/img/favicon.ico" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/content2/layouts/vertical-light-menu/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="~/content2/layouts/vertical-light-menu/css/dark/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/content2/layouts/vertical-light-menu/loader.js"></script>
    <link href="~/content2/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="~/content2/layouts/vertical-light-menu/css/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/content2/layouts/vertical-light-menu/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <link href="~/Content/plugins/file-upload/file-upload-with-preview.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/flatpickr/flatpickr.css" rel="stylesheet" />

    @*<link href="~/Content2/src/plugins/src/flatpickr/flatpickr.css" rel="stylesheet" />
        <link href="~/Content2/src/plugins/src/noUiSlider/nouislider.min.css" rel="stylesheet" />*@
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="~/content2/src/assets/css/light/elements/alert.css">
    <link rel="stylesheet" type="text/css" href="~/content2/src/assets/css/dark/elements/alert.css">
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="~/content2/src/plugins/src/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/content2/src/plugins/css/light/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="~/content2/src/plugins/css/dark/table/datatable/dt-global_style.css">

    @*rich text*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/site2.css" rel="stylesheet" />
    @*<link href="~/Content/richtext.min.css" rel="stylesheet" />*@


    @*css propios*@
    @*<link href="~/Content/Usuarios.css" rel="stylesheet" />
        <link href="~/Content/AlquilerReportes.css" rel="stylesheet" />
        <link href="~/Content/AlquilerContrato.css" rel="stylesheet" />*@
        <link href="~/Content/navLateral.css" rel="stylesheet" />   
    <style>
            body.dark .layout-px-spacing, .layout-px-spacing {
                min-height: calc(100vh - 155px) !important;
            }
    </style>
</head>
<body class="layout-boxed">
    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->
    <div class="header-container container-xxl">
        <header class="header navbar navbar-expand-sm expand-header">

            <ul class="navbar-item flex-row ms-lg-auto ms-0 action-area">


                <li class="nav-item theme-toggle-item">
                    <a href="javascript:void(0);" class="nav-link theme-toggle">
                    </a>
                </li>

                <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-container">
                            <div class="avatar avatar-sm avatar-indicators avatar-online">
                                <img alt="avatar" src="~/Content2/src/assets/img/profile-30.png" class="rounded-circle">
                            </div>
                        </div>
                    </a>

                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        <div class="user-profile-section">
                            <div class="media mx-auto">
                                <div class="emoji me-2">
                                    &#x1F44B;
                                </div>
                                <div class="media-body">
                                    <h5>Shaun Park</h5>
                                    <p>Project Leader</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="@Url.Action("Index","Login")">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> <span>Log Out</span>
                            </a>
                        </div>
                    </div>

                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container " id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">

            <nav id="sidebar">

                <div class="navbar-nav theme-brand flex-row  text-center">
                    <div class="nav-logo">
                        <div class="nav-item theme-logo">
                            <a href="./index.html">
                                <img src="~/Content/imagenes/Logo_inicio.png" class="navbar-logo" alt="logo">
                            </a>
                        </div>
                        <div class="nav-item theme-text">
                            <a href="./index.html" class="nav-link"> </a>
                        </div>
                    </div>
                    <div class="nav-item sidebar-toggle">
                        <div class="btn-toggle sidebarCollapse">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                        </div>
                    </div>
                </div>
                <div class="shadow-bottom"></div>
                <ul class="nav__list mt-2" id="accordionExample">
                    <li class="menu active mb-5">
                        <a href="@Url.Action("Index","group",new {userId = userId})" class="dropdown-toggle" id="btnhome">
                            <div class="">
                                <img src="~/Content/imagenes/Logo_inicio.png" alt="logo" width="30px" height="30px" style="margin-right:40px;"<span>PIMAS</span>
                            </div>
                        </a>
                    </li>                   
                </ul>

            </nav>

        </div>
        <!--  END SIDEBAR  -->
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content" style="margin-top: 107px !important;">
            <div class="layout-px-spacing" id="contenidgrupo">

                <div class="middle-content container-xxl p-0">

                    <!--  BEGIN BREADCRUMBS  -->
                    <div class="secondary-nav">
                        <div class="breadcrumbs-container" data-page-heading="Analytics">
                            <header class="header navbar navbar-expand-sm">
                                <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                                </a>


                            </header>
                        </div>
                    </div>
                    <!-- CONTENT AREA -->
                    <div class="row ">

                        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing mx-5">
                            @RenderBody()
                        </div>
                    </div>
                    <!-- CONTENT AREA -->
                </div>
            </div>

           
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">
                        Copyright © <span id="current-year">2022</span>
                        <a target="_blank" href="https://www.sinertica.net/">Sinertica.net</a>,Todos los derechos reservados.
                    </p>

                </div>
            </div>

        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Content2/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content2/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Content2/src/plugins/src/mousetrap/mousetrap.min.js"></script>
    <script src="~/Content2/src/plugins/src/waves/waves.min.js"></script>
    <script src="~/Content2/layouts/vertical-light-menu/app.js"></script>

    <script src="~/Content/plugins/flatpickr/flatpickr.js"></script>
    <script src="~/Content/plugins/flatpickr/custom-flatpickr.js"></script>
    <script src="~/Content/plugins/file-upload/file-upload-with-preview.min.js"></script>


    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script>
        var currentYearElement = document.getElementById("current-year");
        var currentYear = new Date().getFullYear();
        currentYearElement.textContent = currentYear;
    </script>

    @*scripts propios*@



    @* Finscripts propios*@


    @*scripts richtext*@
    <script src="~/Content/jquery.richtext.js"></script>
    <script type="text/javascript" src="~/Content/jquery.richtext.js"></script>

</body>
</html>
